@model FornecedorCadastroModel;

<h3>Cadastro de Fornecedor</h3>
<form asp-action="Cadastrar" asp-controller="Fornecedor">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-xl-1">
                <div class="form-group required">
                    <label class="control-label" asp-for="fornecedor.Empresa.NomeFantasia">Empresa</label>
                    <select class="form-control single-select" asp-for="fornecedor.Empresa.NomeFantasia">
                        <option selected value="">[Selecione a Empresa]</option>
                        @foreach (EmpresaModel empresa in Model.empresas)
                        {
                            <option value="@empresa.NomeFantasia">@empresa.NomeFantasia</option>
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label class="control-label" asp-for="fornecedor.Nome">Nome</label>
                    <input type="text" class="form-control" asp-for="fornecedor.Nome" placeholder="Nome">
                </div>

                <div class="form-group">
                    <label class="control-label" asp-for="fornecedor.Documento">Documento</label><br>
                    <input id="tipoDocP" type="radio" name="tipoDoc" value="cpf" checked>CPF<br>
                    <input id="tipoDocJ" type="radio" name="tipoDoc" value="cnpj">CNPJ<br>
                    <input type="text" class="docs form-control" id="documento" asp-for="fornecedor.Documento" placeholder="Documento">
                </div>

                <div class="form-group">
                    <label class="control-label" asp-for="fornecedorPes.RG">RG</label>
                    <input type="text" class="form-control" asp-for="fornecedorPes.RG" id="rg" placeholder="RG">
                </div>

                <div class="form-group">
                    <label class="control-label" asp-for="fornecedorPes.DataNascimento">Data de Nascimento</label>
                    <input type="date" class="form-control" asp-for="fornecedorPes.DataNascimento" id="datanascimento" placeholder="Data de Nascimento">
                </div>
                <div class="form-group" id="tels">
                    <label class="control-label" asp-for="fornecedor.Telefones">Telefones</label>
                    <a id="addTel" class="btn btn-primary">Adicionar Telefone</a>
                    <input type="text" class="form-control" asp-for="fornecedor.Telefones[0]" id="tel" placeholder="Telefone">
                </div>

                <div class="form-group">
                    <button type="submit"
                            class="btn btn-success">
                        Cadastrar
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>