@model dynamic;

<h2>Editar/Excluir Empresa</h2>
<form asp-action="Edicao" asp-controller="Empresa">
    <div class="form-group required">
        <label class="control-label" asp-for="@Model">Empresa</label>
        <select class="form-control single-select" name="NomeFantasia" asp-for="@Model">
            <option selected value="">[Selecione a Empresa]</option>
            @foreach (EmpresaModel empresa in Model.Empresas)
            {
                <option value="@empresa.NomeFantasia">@empresa.NomeFantasia</option>
            }
        </select>
    </div>
    <div class="form-group">
        <button type="submit"
                class="btn btn-success">
            Editar
        </button>
    </div>
</form>

