@model List<EmpresaModel>;
<h2>Lista de Empresas</h2>
<table id="tabela" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Nome Fantasia</th>
            <th>CNPJ</th>
            <th>UF</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var empresa in Model)
        {
            <tr>
                <td>@empresa.NomeFantasia</td>
                <td>@empresa.CNPJ</td>
                <td>@empresa.UF</td>
            </tr>
        }
    </tbody>
</table>
